<!DOCTYPE html>
<html data-theme="light" lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Garlic-Hub{% endblock %}</title>
        <link rel="icon" href="/images/logo.svg" type="image/svg+xml">
        <link rel="stylesheet" href="{{ asset('css/external/remixicon.css') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="color-scheme" content="light dark">
        <link rel="stylesheet" href="{{ asset('css/external/pico.jade.min.css') }}">

        <link rel="stylesheet" href="{{ asset('css/theme-base.css') }}">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
        <header>
            {% include 'navbar.html.twig' %}
        </header>
        <main>
            {% block body %}{% endblock %}
        </main>

        <footer>
            <nav aria-label="Footer Navigation" class="menu_company_legals">
                <ul>
                    {% if app.environment in ['dev', 'test'] %}
                        <li id="compile_time" role="contentinfo">
                            {{ execution_time() | number_format(7) }} sec
                            {{ memory_usage() }}
                            {{ peak_memory_usage() }} peak
                        </li>
                    {% endif %}

                    <li>
                        <a href="/legals">{{ 'footer.legal_notice' | trans({}, 'menu') }}</a>
                    </li>
                </ul>
            </nav>
        </footer>

    </body>
</>
