<nav id="main_navigation">
	{% if is_granted('ROLE_USER') %}
	<ul class="menu">
		<li>
			<a href="{{ path('player') }}">{{ 'menu.player'|trans({}, 'menu') }}</a>
		</li>
		<li>
			<a href="{{ path('playlist') }}">{{ 'menu.playlists'|trans({}, 'menu') }}</a>
		</li>
		<li>
			<a href="{{ path('mediapool') }}">{{ 'menu.mediapool'|trans({}, 'menu') }}</a>
		</li>
	</ul>
	{% endif %}

	<div class="dropdown">
		<div class="dropdown-toggle" id="languageDropdown">
			<img src="/images/flags/24x24/{{ app.request.locale|slice(0, 2)|lower }}.png" alt="">
			{{ app.request.locale|slice(0, 2)|upper }}
		</div>
		<div class="dropdown-menu" aria-labelledby="languageDropdown">
			{% for locale, language in {'de_DE': 'Deutsch', 'en_US': 'English', 'fr_FR': 'Français', 'es_ES': 'Español', 'ru_RU': 'Русский'} %}
				<a class="dropdown-item" href="{{ path('set_locale', {'locale': locale}) }}">
				<img src="/images/flags/24x24/{{ locale|slice(0, 2)|lower }}.png" alt="{{ language }} flag">
				{{ language }}
				</a>
			{% endfor %}
		</div>
	</div>

	{% if is_granted('ROLE_USER') %}
	<ul id="infobox" class="dropdown">
		<li>
			<div class="dropdown-toggle" type="button" id="languageDropdown">
				{{ 'menu.logged_in_as'|trans({}, 'menu') }}: {{ app.user.userIdentifier }}
			</div>
			<div class="dropdown-menu">
				<a class="dropdown-item" href="/user_options">{{ 'user.manage_account'|trans({}, 'menu') }}</a>
				<a class="dropdown-item" href="/logout">{{ 'user.logout'|trans({}, 'menu') }}</a>
			</div>
		</li>
	</ul>
	{% endif %}
</nav>

