<nav>
	{% if is_granted('ROLE_USER') %}
	<ul id="main_menu">
		<li><img width="75" src="/images/logo.svg" alt="garlic-hub logo"></li>
		<li><strong>garlic-hub</strong></li>
		<li>
			<a href="{{ path('player') }}">{{ 'menu.player'|trans({}, 'menu') }}</a>
		</li>
		<li>
			<a href="{{ path('playlist') }}">{{ 'menu.playlists'|trans({}, 'menu') }}</a>
		</li>
		<li>
			<a href="{{ path('mediapool') }}">{{ 'menu.mediapool'|trans({}, 'menu') }}</a>
		</li>
		{% endif %}
	</ul>
	<ul id="language_select">
		<li>
			<details class="dropdown">
				<summary>
					<img src="/images/flags/24x24/{{ app.request.locale|slice(0, 2)|lower }}.png" alt="">
					{{ app.request.locale|slice(0, 2)|upper }}
				</summary>
				<ul aria-labelledby="languageDropdown">
					{% for locale, language in {'de_DE': 'Deutsch', 'en_US': 'English', 'fr_FR': 'Français', 'es_ES': 'Español', 'ru_RU': 'Русский'} %}
						<li>
							<a href="{{ path('set_locale', {'locale': locale}) }}">
								<img src="/images/flags/24x24/{{ locale|slice(0, 2)|lower }}.png" alt="{{ language }} flag">
								{{ language }}
							</a>
						</li>
					{% endfor %}
				</ul>
			</details>
		</li>
	</ul>

	{% if is_granted('ROLE_USER') %}
	<ul id="infobox">
		<li>
			<details class="dropdown">
				<summary>
					{{ 'menu.logged_in_as'|trans({}, 'menu') }}: {{ app.user.userIdentifier }}
				</summary>
				<ul aria-labelledby="languageDropdown">
					<li>
						<a class="dropdown-item" href="/user_options">{{ 'user.manage_account'|trans({}, 'menu') }}</a>
					</li>
					<li>
						<a class="dropdown-item" href="/logout">{{ 'user.logout'|trans({}, 'menu') }}</a>
					</li>
				</ul>
			</details>
		</li>
	</ul>
	{% endif %}
</nav>

