{% extends 'base.html.twig' %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/user/login.css') }}">
{% endblock %}

{% block body %}
	{% if error %}
		<div id="error_messages"
			 class="error_messages">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
	{% endif %}

	<form id="login_form" action="{{ path('app_login') }}" method="post">
		<fieldset>
			<legend>{{ 'login.login'|trans({}, 'login') }}</legend>
			<label for="login_username">
				<input type="text" id="login_username" name="username"
					   placeholder="{{ 'main.username'|trans({}, 'main') }}/{{ 'main.email'|trans({}, 'main') }}"
					   aria-label="{{ 'main.username'|trans({}, 'main') }}/{{ 'main.email'|trans({}, 'main') }}"
					   value="{{ last_username }}" required>
			</label>
			<label for="login_password">
				<input type="password" id="login_password"
					   placeholder="{{ 'login.password'|trans({}, 'login') }}"
					   aria-label="{{ 'login.password'|trans({}, 'login') }}"
					   name="password" required>
			</label>

			<button type="submit" name="submit" value="{{ 'login.login'|trans({}, 'login') }}"
					id="submit_login">{{ 'login.login'|trans({}, 'login') }}</button>
			<input type="checkbox" name="autologin" value="1" id="autologin"/> <label
					for="autologin">{{ 'login.autologin'|trans({}, 'login') }}</label><br>

			<a href="/reset_password" title="reminderlink">» {{ 'login.reset_password'|trans({}, 'login') }}?</a><br>
			<a href="/register"
			   title="{{ 'login.register'|trans({}, 'login') }}">» {{ 'login.register'|trans({}, 'login') }}</a>

			<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
			<input type="hidden" name="_target_path" value="/">
		</fieldset>
	</form>
{% endblock %}