{% extends 'base.html.twig' %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/user/login.css') }}">
{% endblock %}

{% block body %}
	<h1>{{ 'login.login'|trans({}, 'login') }}</h1>
	{% if error %}
		<div id="error_messages" class="error_messages">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
	{% endif %}

	<form id="login_form" action="{{ path('app_login') }}" method="post">
		<fieldset>
			<ul class="form_edit">
				<li id="wrap_username">
					<label for="login_username">{{ 'main.username'|trans({}, 'main') }}/{{ 'main.email'|trans({}, 'main') }}:</label>
					<input type="text" id="login_username" name="username" value="{{ last_username }}" required>
				</li>
				<li id="wrap_password">
					<label for="login_password">{{ 'login.password'|trans({}, 'login') }}:</label>
					<input type="password" id="login_password" name="password" required>
				</li>
				<li id="wrap_submit_login">
					<button type="submit" name="submit" value="{{ 'login.login'|trans({}, 'login') }}" id="submit_login">{{ 'login.login'|trans({}, 'login') }}</button>
				</li>
				<li id="wrap_autologin">
					<input type="checkbox" name="autologin" value="1" id="autologin" /> <label for="autologin">{{ 'login.autologin'|trans({}, 'login') }}</label>
				</li>
				<li id="wrap_reminder">
					<a href="/reset_password" title="reminderlink">» {{ 'login.reset_password'|trans({}, 'login') }}?</a>
				</li>
				<li id="wrap_register">
					<a href="/register" title="{{ 'login.register'|trans({}, 'login') }}">» {{ 'login.register'|trans({}, 'login') }}</a>
				</li>
			</ul>
			<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
			<input type="hidden" name="_target_path" value="/">
		</fieldset>
	</form>
{% endblock %}